[Desktop Entry]
Version=1.0
Type=Application
Name=novpn
Comment=Create a novpn netns
Exec={{userDir}}/Scripts/novpn-start
Icon={{destDir}}/novpn.png
Terminal=false
StartupNotify=false
Categories=Network;
