[Desktop Entry]
Version=1.0
Name=Questrade
Type=Application
#Exec=xdg-open https://my.questrade.com/trading/account/balances
Exec=xdg-open https://trading.questrade.com
Icon={{localLauncherDir}}/Questrade.png
Actions=GDocs;

#[Desktop Action Bourse]
#Name=Calc
#Exec=libreoffice -o /home/bruno/Dropbox/Bourse.xlsx

[Desktop Action GDocs]
Name=GDocs
Exec=xdg-open https://docs.google.com/spreadsheets/d/1BrmlwnF9HbLdHC3ep7os8uTT4fUkaG68iAD80G44EtA/edit#gid=932019657
